@media (max-width: 767px) {
  .latest-album-thumb,
  .band-member,
  .single-album {
    margin-bottom: 25px;
  }
}

.latest-album-thumb {
  min-height: 200px;
  max-height: 200px;
  border-radius: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  font-family: sans-serif;
  line-height: 26px;
  font-size: 15px;
  font-weight: 400;
  color: #222;
  letter-spacing: 0.5px;
}

.band-member,
.tour-latest-one,
.biography-image,
.single-album,
.latest-album-thumb,
.tour-block,
.gallery-image,
.latest-single-blog {
  /* border: 5px solid #ddd; */
  border-radius: 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
}

a,
a:hover {
  text-decoration: none;
  /* color: #ea5252 !important; */
}

hr {
  background-color: 1px solid #f8f9fa;
  min-width: 80%;
  max-width: 80%;
}
