{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}
Album page
{% endblock %}

{% block content %}




    




    <style>
        .container{
            margin-top: 10% !important;
        }

    </style>

 






   
   

    <!-- ======== Album details ============== -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-10 offset-1">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="latest-album-thumb" style="height: 430px;"></div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="latest-album-info">
                            <h4>Album Name: pandemic EP</h4>
                            <br>
                            <div class="latest-album-meta">
                                <span class="release-date">
                                    <strong>Release Date:</strong>
                                    " July 27 2021"
                                </span>
                                <br>
                                <hr>
                                <span class="release-date">
                                    <strong>Artist Name:</strong>
                                    " Name"
                                </span>
                                <br>
                                <hr>
                                <span class="release-date">
                                    <strong>Genre: </strong>
                                    " Afro Pop"
                                </span>
                                <br>
                                <hr>
                                <span class="release-date">
                                    <strong> Total Songs: </strong>
                                    " 10"
                                </span>
                                <br>
                                <hr>
                                <span class="release-date">
                                    <strong>Title Track: </strong>
                                    " Track Name"
                                </span>
                                <br>
                            </div>

                            <a href="#" class="button">
                                <i class="fa fa-soundcloud"></i>
                                 Listen on SoundCloud
                            </a>

                             <span>
                                    <lord-icon
                                        src="https://cdn.lordicon.com/mmspidej.json"
                                        trigger="loop"
                                        colors="primary:#121331,secondary:#08a88a"
                                        style="width:50px;height:50px;">
                                    </lord-icon> 
                                </span>
                        </div>

                        
                    </div>
                    
                </div>
                
                

                

            </div>

        </div>
    </div>




    <script src="https://cdn.lordicon.com/libs/frhvbuzj/lord-icon-2.0.2.js"></script>

{% endblock%}