{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}
Album page
{% endblock %}

{% block content %}


    <style>
        .container{
            margin-top: 10% !important;
        }

        

    </style>

    <!-- ======== Album details ============== -->


    <div class="container">
        <div class="row">
            
            {% if album %}


                <div class="col-md-4 ">
                    <div class="latest-album-thumb" style="height: 430px">
                    <img src="{{album.get_album_image}}" alt="album image" class="img-fluid rounded-lg">
                    </div>
                </div>

                <div class="col-lg-4 col-md-4  mt-2 sec">
                    <div class="latest-album-info">
                        <h5>Album Name: {{album.get_album_name}}</h5>
                        <div class="latest-album-meta">
                            <hr>
                            <span class="release-date">
                                <strong>Artist Name:</strong>
                                {{album.get_album_artist}}
                            </span>
                            <br>
                            <hr>
                            <span class="release-date">
                                <strong>Genre: </strong>
                                {{album.get_album_genre}}
                            </span>
                            <br>
                            <hr>
                            <span class="release-date">
                                <strong> Total Songs: </strong>
                                {{album.number_of_tracks}}
                            </span>
                            <br>
                            
                            <br>
                        </div>
            
                    </div>
            
                </div>

                <div class="col-4">
                    <audio controls src="{{album.get_album_audio_1}}" type="audio/mpeg"></audio>
                    <hr>
                    <audio controls src="{{album.get_album_audio_2}}" type="audio/mpeg" ></audio>
                    <hr>
                    <audio controls src="{{album.get_album_audio_3}}" type="audio/mpeg" ></audio>
                    <hr>
                    <audio controls src="{{album.get_album_audio_4}}" type="audio/mpeg" ></audio>
                    <hr>
                    <audio controls src="{{album.get_album_audio_5}}" type="audio/mpeg" ></audio>
                    <hr>
                    <audio controls src="{{album.get_album_audio_6}}" type="audio/mpeg" ></audio>
                </div>

            {% endif %}



        </div>
    </div>

















{% endblock%}