<!-- =========== index.html page =====-->

<section>

    <!-------------- Carousel  ----------->

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="{% static 'frontend/images/find your sound.jpg' %}" class="d-block w-100" alt="...">
                <div class=" text-center mt-auto mb-auto carousel-caption"><h5>Welcome😃</h5></div>
            </div>

            <div class="carousel-item">

                <img src="{% static 'frontend/images/mic stand.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h5> Check out our selected playlist</h5>
                </div>

            </div>
            <div class="carousel-item">
                <img src="{% static 'frontend/images/head phone.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption"><h5>Explore the  realm of euphoric music</h5></div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <section class="track"> 
        <h1> Hit of the Week</h1>
        <div class="container">

            <div class="row mt-5 text-center">
            <div class="track-co col-lg-3 col-md-6 " >
                <img src="{% static 'frontend/images/Ruger-Bounce.png' %}" style="min-height: 250px; max-height: 250px;" class="rounded mx-auto d-block">
                <div class="layer">
                <a href=""  data-toggle="modal" data-target="#exampleModalCenter1">
                    <h3 class = 'hottest-track'>Bounce</h3>
                    <h4 class = "hottest-track">Rudger</h4>
                </a>
                
                </div>
            </div>

            <div class="track-co col-lg-3 col-md-6 " >
                <img src="{% static 'frontend/images/Rema-Soundgasm.jpg' %}" style="min-height: 250px; max-height: 250px;" class="rounded mx-auto d-block">
                <div class="layer">
                <a href=""  data-toggle="modal" data-target="#exampleModalCenter2">
                    <h3 class = 'hottest-track'>Soundgasm</h3>
                    <h4 class = "hottest-track">Rema</h4>
                </a>
                </div>
            </div>

            <div class="track-co col-lg-3 col-md-6 "  >
                <img src="{% static 'frontend/images/Omah-Lay-Understand.jpeg' %}" style="min-height: 250px; max-height: 250px;" class="rounded mx-auto d-block ">
                <div class="layer">
                <a href="" data-toggle="modal" data-target="#exampleModalCenter3" >
                    <h3 class = 'hottest-track'>Understand</h3>
                    <h4 class="hottest-track">Omah Lay</h4>
                </a>
                </div>
            </div>

            <div class="track-co col-lg-3 col-md-6" >
                <img src="{% static 'frontend/images/Olamide-–-Rock.jpg' %}" style="min-height: 250px; max-height: 250px;" class="rounded mx-auto d-block ">
                <div class="layer">
                    <a href="" data-toggle="modal" data-target="#exampleModalCenter4">
                    <h3 class = 'hottest-track'>Rock</h3>
                    <h4 class="hottest-track">Olamide</h4>
                    </a>
                </div>
            </div>


            </div>
        </div>
    </section>

    <!-- ==========Album of the week============ -->

    <section class="album mb-5" style="margin-bottom: 5%;"> 
        <h1 class="text-center mt-5 ">Album of the week</h1>
        <div class="container">
            <div class="row mt-5 text-center">
                <div class="track-co col-lg-3 col-md-6 " >
                    <img src="{% static 'frontend/images/Ruger-Bounce.png' %}" style="min-height: 250px; max-height: 250px;" class="rounded mx-auto d-block">
                    <div class="layer">
                        <a href=""  data-toggle="modal" data-target="#album1">
                            <h3 class = 'hottest-track'>Bounce</h3>
                            <h4 class = "hottest-track">Rudger</h4>
                        </a>
                    
                    </div>
                </div>

                <div class="track-co col-lg-3 col-md-6 " >
                    <img src="{% static 'frontend/images/Peruzzi-–-Rum-Boogie-IMG.png' %}" style="min-height: 250px; max-height: 250px;" class="rounded mx-auto d-block">
                    <div class="layer">
                        <a href=""  data-toggle="modal" data-target="#album2">
                            <h3 class = 'hottest-track'>Rum & Boogie</h3>
                            <h4 class = "hottest-track">Peruzzi</h4>
                        </a>
                    </div>
                </div>

                <div class="track-co col-lg-3 col-md-6 "  >
                    <img src="{% static 'frontend/images/The-Cavemen-Roots.png' %}" style="min-height: 250px; max-height: 250px;" class="rounded mx-auto d-block ">
                    <div class="layer">
                        <a href="" data-toggle="modal" data-target="#album3" >
                            <h3 class = 'hottest-track'>Roots</h3>
                            <h4 class="hottest-track">The Cavemen</h4>
                        </a>
                    </div>
                </div>

                <div class="track-co col-lg-3 col-md-6" >
                    <img src="{% static 'frontend/images/Olamide-–-Rock.jpg' %}" style="min-height: 250px; max-height: 250px;" class="rounded mx-auto d-block ">
                    <div class="layer">
                        <a href="" data-toggle="modal" data-target="#album4">
                            <h3 class = 'hottest-track'>UY Scuti</h3>
                            <h4 class="hottest-track">Olamide</h4>
                        </a>
                    </div>
                </div>

            </div>
            
        </div>

    </section>



    <!--============== Track Modal ================== -->

    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Bounce</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Soundgasm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Understand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>

                </div>
            
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Rock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                </div>
            
            </div>
        </div>
    </div>


    <!-- ============= Album Modal============= -->

    <div class="modal fade" id="album1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Pandemic EP</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>

                    <hr>

                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>

                    <hr>

                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>

                    <hr>

                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="album2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="#rum">Rum & Boogie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                    <hr>
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                    <hr>
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                    <hr>
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="album3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="#rum">Roots</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                </audio>
                <hr>
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                </audio>
                <hr>

                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                </audio>
                <hr>

                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                </audio>
            </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="album4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="#rum">UY scuti</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>

                    <hr>

                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>

                    <hr>

                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>

                    <hr>

                    <audio controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                    </audio>

                </div>

            </div>
        </div>
    </div>

</section>

<!-- ======== Album.html page ======== -->

	
<section class="album">
    <h1>Selected Albums</h1>
    
    <div class="container-fluid mt-5">

        <div class="row" >
            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/Ruger-Bounce.png' %}"  style="min-height: 325px; max-height: 325px;">
                <div class="layer">
                    <a href="album-details.html"><h3 class = 'hitz'>Pandemic EP</h3></a>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/The-Cavemen-Roots.png' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>Roots</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/Peruzzi-–-Rum-Boogie-IMG.png' %}">
                <div class="layer">
                    <h3 class = 'hitz'>Rum & Boogie</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src=".{% static 'frontend/images/Burna_Boy_-_African_Giant.png' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>African Giant</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/twice as tall_burna boy.jpg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>Twice as Tall</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/davido-a-better-time-stream.jfif' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>A better Time</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/teni wonderland.jpg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>wonderland</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/Shall-We-Begin-artwork.jpeg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>Shall we begin</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/joe boy.jpg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>somewhere between beauty & magic</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/apollo_fireboy dml.jpg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>Apollo</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/LTG fireboy.png' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>L.T.G</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/carpe diem olamide.jpg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>Capre Diem</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/what have we done.jpg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>What Have We Done -EP</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/wizzy.jpg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>Made in Lagos</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/High-Tension-2.jpeg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>High Tension 2.0</h3>
                </div>
            </div>

            <div class="album-col col-md-3" >
                <img src="{% static 'frontend/images/Afro pop volume 1.jpg' %}" >
                <div class="layer">
                    <h3 class = 'hitz'>Afro Pop Volume 1</h3>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ============ team.html page ====== -->


<section>
    
    <div class="bck-wrapper">
        <div class="site-blocks-cover inner-page-cover overlay"  data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="header-text justify-content-center mb-5" style="margin-bottom: 35% !important;">Meet Our Team</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="our-team">
    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <h2 class="text-center">Dev Ops</h2>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="box-bg">
                    
                    <div class="client-img">
                        <img src="{% static 'frontend/images/Deolu.jpg' %}" class="img-fluid img-rounded" style="border-radius: 50%;">
                    </div>

                    <div class="details">
                        <h4 class="text-center">Deolu Joseph</h4>
                        <h6 class="text-center">Lead Developer</h6>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consequuntur quas fuga accusantium sequi harum.</p>
                        <a href="#">Read More</a>
                    </div>

                    <div class="social-links">
                        <h4 class="text-center">Follow Me</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
                <div class="client-img">
                    <img src="{% static 'frontend/images/member 1.jpg' %}" class="img-fluid" style="border-radius: 50%;">
                </div>

                <div class="details">
                    <h4 class="text-center">Your Name</h4>
                    <h6 class="text-center">Web Developer</h6>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore</p>
                    <a href="#">Read More</a>
                </div>

                <div class="social-links">
                    <h4 class="text-center">Follow Me</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>

            </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="box-bg">

                    <div class="client-img">
                        <img src="{% static 'frontend/images/member 2.jpg' %}" class="img-fluid img-rounded" style="border-radius: 50%;">
                    </div>

                    <div class="details">
                        <h4 class="text-center">Your Name</h4>
                        <h6 class="text-center">Graphic Designer</h6>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore</p>
                        <a href="#">Read More</a>
                    </div>

                    <div class="social-links">
                        <h4 class="text-center">Follow Me</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="box-bg">
                    <div class="client-img">
                        <img src="{% static 'frontend/images/member 3.jpg' %}" class="img-fluid" style="border-radius: 50%;">
                    </div>
                    <div class="details">
                        <h4 class="text-center">Your Name</h4>
                        <h6 class="text-center">PHP Developer</h6>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore</p>
                        <a href="#">Read More</a>
                    </div>

                    <div class="social-links">
                        <h4 class="text-center">Follow Me</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="box-bg">
                    <div class="client-img">
                        <img src="{% static 'frontend/images/member 4.jpg' %}" class="img-fluid" style="border-radius: 50%;">
                    </div>

                    <div class="details">
                        <h4 class="text-center">Your Name</h4>
                        <h6 class="text-center">Web Designer</h6>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore</p>
                        <a href="#">Read More</a>
                    </div>

                    <div class="social-links">
                        <h4 class="text-center">Follow Me</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="box-bg">
                    <div class="client-img">
                        <img src="{% static 'frontend/images/member 5.jpg' %}" class="img-fluid" style="border-radius: 50%;">
                    </div>
                    <div class="details">
                        <h4 class="text-center">Your Name</h4>
                        <h6 class="text-center">Graphic Designer</h6>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore</p>
                        <a href="#">Read More</a>
                    </div>

                    <div class="social-links">
                        <h4 class="text-center">Follow Me</h4>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<div class="col-sm-6 col-lg-4">
    <div class="box-bg">
        <div class="client-img">
            <img
              src="{% static 'frontend/images/member 1.jpg' %}"
              class="img-fluid"
              style="border-radius: 50%"
            />
          </div>

          <div class="details">
            <h4 class="text-center">Your Name</h4>
            <h6 class="text-center">Web Developer</h6>
            <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              tempor incididunt ut labore et dolore
            </p>
            <a href="#">Read More</a>
          </div>

          <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-6 col-lg-4">
    <div class="box-bg">
        <div class="client-img">
            <img
              src="{% static 'frontend/images/member 2.jpg' %}"
              class="img-fluid img-rounded"
              style="border-radius: 50%"
            />
        </div>

        <div class="details">
            <h4 class="text-center">Your Name</h4>
            <h6 class="text-center">Graphic Designer</h6>
            <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              tempor incididunt ut labore et dolore
            </p>
            <a href="#">Read More</a>
        </div>

        <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-6 col-lg-4">
    <div class="box-bg">
        <div class="client-img">
            <img
              src="{% static 'frontend/images/member 3.jpg' %}"
              class="img-fluid"
              style="border-radius: 50%"
            />
        </div>
        <div class="details">
            <h4 class="text-center">Your Name</h4>
            <h6 class="text-center">PHP Developer</h6>
            <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              tempor incididunt ut labore et dolore
            </p>
            <a href="#">Read More</a>
        </div>

        <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </li>
            </ul>
        </div>
    </div>
</div>



<div class="col-sm-6 col-lg-4">
    <div class="box-bg">
        <div class="client-img">
            <img
              src="{% static 'frontend/images/member 4.jpg' %}"
              class="img-fluid"
              style="border-radius: 50%"
            />
        </div>

        <div class="details">
            <h4 class="text-center">Your Name</h4>
            <h6 class="text-center">Web Designer</h6>
            <p class="text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              tempor incididunt ut labore et dolore
            </p>
            <a href="#">Read More</a>
        </div>

        <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-6 col-lg-4">
    <div class="box-bg">
        <div class="client-img">
            <img
            src="{% static 'frontend/images/member 5.jpg' %}"
            class="img-fluid"
            style="border-radius: 50%"
            />
        </div>
        <div class="details">
            <h4 class="text-center">Your Name</h4>
            <h6 class="text-center">Graphic Designer</h6>
            <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            tempor incididunt ut labore et dolore
            </p>
            <a href="#">Read More</a>
        </div>

        <div class="social-links">
            <h4 class="text-center">Follow Me</h4>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- <a href="{% url 'frontend:track-details'%}">
    <h3 class = 'hitz'>{{t.get_track_name}}</h3>
</a> -->

<!-- ========== Album.html ============= -->

<div>

    <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/The-Cavemen-Roots.png' %}" >
        <div class="layer">
            <h3 class = 'hitz'>Roots</h3>
        </div>
    </div>

    <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/Peruzzi-–-Rum-Boogie-IMG.png' %}">
        <div class="layer">
            <h3 class = 'hitz'>Rum & Boogie</h3>
        </div>
    </div>

    <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/Afro pop volume 1.jpg' %}" >
        <div class="layer">
            <h3 class = 'hitz'>Afro Pop Volume 1</h3>
        </div>
    </div>

</div>


<div class="container-fluid">

    <div class="row">

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/Burna_Boy_-_African_Giant.png' %}" >
            <div class="layer">
                <h3 class = 'hitz'>African Giant</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/twice as tall_burna boy.jpg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>Twice as Tall</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/davido-a-better-time-stream.jfif' %}" >
            <div class="layer">
                <h3 class = 'hitz'>A better Time</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/teni wonderland.jpg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>wonderland</h3>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">

    <div class="row">

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/Shall-We-Begin-artwork.jpeg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>Shall we begin</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/joe boy.jpg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>S.B.B.M</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/apollo_fireboy dml.jpg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>Apollo</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/LTG fireboy.png' %}" >
            <div class="layer">
                <h3 class = 'hitz'>L.T.G</h3>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">

    <div class="row">

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/carpe diem olamide.jpg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>Capre Diem</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/what have we done.jpg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>What Have We Done -EP</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/wizzy.jpg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>Made in Lagos</h3>
            </div>
        </div>

        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/High-Tension-2.jpeg' %}" >
            <div class="layer">
                <h3 class = 'hitz'>High Tension 2.0</h3>
            </div>
        </div>
    </div>

</div>


<!-- =========== Track.html =============== -->

<div>
    <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/dollypizzle.jpeg' %}" style="min-height: 280px; max-height: 280px;" >
        <div class="layer">
        <a href="#" data-toggle="modal" data-target="#dollypizzle">
            <h3 class = 'hitz'>What you know</h3>
        </a>
        </div>
    </div>
        
    <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/Omah-Lay-Understand.jpeg' %}" >
        <div class="layer">
        <a href="#" data-toggle="modal" data-target="#understand">
            <h3 class = 'hitz'>Understand</h3>
        </a>
        </div>
    </div>
        
    <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/feeling-ladipoe.jfif' %}" >
        <div class="layer">
        <a href="#" data-toggle="modal" data-target="#ladipoe">
            <h3 class = 'hitz'>feeling-ladipoe</h3>
        </a>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row"> 
    <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/kilometer-burnaboy.jpg' %}" >
        <div class="layer">
            <h3 class = 'hitz'>Kilometer</h3>
        </div>
    </div>
    
    <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/joe boy.jpg' %}" >
        <div class="layer">
        <h3 class = 'hitz'>Show me</h3>
        </div>
    </div>
    
    <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/peru-fireboy.jfif' %}" >
        <div class="layer">
        <i class="badge badge-info mr-2">New</i>
        <h3 class = 'hitz'>Peru</h3>
        </div>
    </div>

    <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
        <img src="{% static 'frontend/images/Shall-We-Begin-artwork.jpeg' %}" >
        <div class="layer">
        <h3 class = 'hitz'>Verified</h3>
        </div>
    </div>
    </div>
</div>

    
        

<div class="container-fluid">
    <div class="row">

        <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/zlatan.jpeg' %}" >
            <div class="layer">
            <h3 class = 'hitz'>cho cho</h3>
            </div>
        </div>
        
        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/Buju-Outside.jpg' %}" >
            <div class="layer">
            <h3 class = 'hitz'>Outside</h3>
            </div>
        </div>
        
        <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/Yaba-Buluku.jpeg' %}" >
            <div class="layer">
                <i class="badge badge-info mr-2">New</i>
            <h3 class = 'hitz'>Yaba buluku (remix)</h3>
            </div>
        </div>
        
        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/Olamide-–-Rock.jpg' %}" >
            <div class="layer">
            <h3 class = 'hitz'>Rock</h3>
            </div>
        </div>
    </div>
</div>
    
     
<div class="container-fluid">
    <div class="row">
    
        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/papisnoop.jpeg' %}" >
            <div class="layer">
            <h3 class = 'hitz'>Morire</h3>
            </div>
        </div>
        
        <div class="album-col  col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/essence-remix.jpg' %}" >
            <div class="layer">
            <i class="badge badge-info mr-2">New</i>
            <h3 class = 'hitz'>Essence remix</h3>
            </div>
        </div>
        
        <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/High-Tension-2.jpeg' %}" >
            <div class="layer">
            <h3 class = 'hitz'>Party next door</h3>
            </div>
        </div>
        
        <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
            <img src="{% static 'frontend/images/Adekunle-Gold-Sinner.jpg' %}" >
            <div class="layer">
                <i class="badge badge-info mr-2">New</i>
            <h3 class = 'hitz'>Sinner</h3>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rudger" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Ruger: Bounce</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
            <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            </audio>
        </div>
        
        </div>
    </div>
</div>
            
            
  
<div class="modal fade" id="dollypizzle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">dollypizzle:  What you know</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            </audio>
        </div>
        
        </div>
    </div>
</div>
            
            
            

<div class="modal fade" id="understand" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Omah-Lay: Understand</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            </audio>
        </div>

        </div>
    </div>
</div>
    
  
<div class="modal fade" id="ladipoe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ladipoe ft Buju: Feelings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="modal-body">
            <audio controls>
            <source src="horse.ogg" type="audio/ogg">
            <source src="horse.mp3" type="audio/mpeg">
            </audio>
        </div>
        
        </div>
    </div>
</div>


<!-- contact us -->

 <!-- {% if messages %} {% for mes in messages %}
<div class="alert alert-success">{{mes}}</div>
{% endfor %} {% endif %} -->



<!-- Track of the week -->

<div class="track-co col-lg-3 col-md-6 col-sm-12 col-12" >
    <img src="{% static 'frontend/images/Rema-Soundgasm.jpg' %}" style="min-height: 250px; max-height: 250px;" class="img-fluid mx-auto d-block">
    <div class="layer">
        <a href=""  data-toggle="modal" data-target="#exampleModalCenter2">
        <h3 class = 'hottest-track'>Soundgasm</h3>
        <h4 class = "hottest-track">Rema</h4>
        </a>
    </div>
</div>

<div class="track-co col-lg-3 col-md-6 col-sm-12 col-12"  >
    <img src="{% static 'frontend/images/Omah-Lay-Understand.jpeg' %}" style="min-height: 250px; max-height: 250px;" class="img-fluid mx-auto d-block ">
    <div class="layer">
        <a href="" data-toggle="modal" data-target="#exampleModalCenter3" >
        <h3 class = 'hottest-track'>Understand</h3>
        <h4 class="hottest-track">Omah Lay</h4>
        </a>
    </div>
</div>

<div class="track-co col-lg-3 col-md-6 col-sm-12 col-12" >
    <img src="{% static 'frontend/images/Olamide-–-Rock.jpg' %}" style="min-height: 250px; max-height: 250px;" class="img-fluid mx-auto d-block ">
    <div class="layer">
        <a href="" data-toggle="modal" data-target="#exampleModalCenter4">
        <h3 class = 'hottest-track'>Rock</h3>
        <h4 class="hottest-track">Olamide</h4>
        </a>
    </div>
</div>

<!-- ====== album of the week  -->

<div class="track-co col-lg-3 col-md-6 col-sm-12 col-12" >
    <img src="{% static 'frontend/images/Peruzzi-–-Rum-Boogie-IMG.png' %}" style="min-height: 250px; max-height: 250px;" class="img-fluid mx-auto d-block">
    <div class="layer">
        <a href="{% url 'frontend:albums' %}"  data-toggle="modal" data-target="#album2">
            <h3 class = 'hottest-track'>Rum & Boogie</h3>
            <h4 class = "hottest-track">Peruzzi</h4>
        </a>
    </div>
</div>

<div class="track-co col-lg-3 col-md-6 col-sm-12 col-12"  >
    <img src="{% static 'frontend/images/The-Cavemen-Roots.png' %}" style="min-height: 250px; max-height: 250px;" class="img-fluid mx-auto d-block ">
    <div class="layer">
        <a href="{% url 'frontend:albums' %}" data-toggle="modal" data-target="#album3" >
        <h3 class = 'hottest-track'>Roots</h3>
        <h4 class="hottest-track">The Cavemen</h4>
        </a>
    </div>
</div>

<div class="track-co col-lg-3 col-md-6 col-sm-12 col-12" >
    <img src="{% static 'frontend/images/Olamide-–-Rock.jpg' %}" style="min-height: 250px; max-height: 250px;" class="img-fluid mx-auto d-block ">
    <div class="layer">
        <a href="{% url 'frontend:albums' %}" data-toggle="modal" data-target="#album4">
        <h3 class = 'hottest-track'>UY Scuti</h3>
        <h4 class="hottest-track">Olamide</h4>
        </a>
    </div>
</div>



<!-- album models -->
# def album_url(self):
#     if self.album_name.url:
#         return self.album_name.url
#     else:
#         return '/static/frontend/images/album_image'




<!-- artist model -->
# class Artist(models.Model):
#     album_artist = models.ForeignKey(Album, related_name='artist_of_album', on_delete=models.CASCADE)
#     track_artist = models.ForeignKey(Track, related_name='artist_of_track', on_delete=models.CASCADE)
    
#     def get_album_artist(self):
#         return self.album_artist
    
#     def get_track_artist(self):
#         return self.track_artist
    