{% extends 'frontend/base.html' %}
{% load static %} 
{% block title %} 
Our Team 
{% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'frontend/css/Dashboard.css' %}">



<section>
  <div class="bck-wrapper">
    <div
      class="site-blocks-cover inner-page-cover overlay"
      data-aos="fade"
      data-stellar-background-ratio="0.5"
    >
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10">
            <h1
              class="header-text justify-content-center mb-5 text-center display-4"
              style="margin-bottom: 35% !important"
            >
              About Us
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="our-team">
  <div class="container">
    <div class="col-12">
      <h2 class="text-center">Dev Ops</h2>
    </div>
    <div class="row">

      {% if members %}
        {% for m in members %}
          <div class="col-sm-6 col-lg-4">
            <div class="box-bg">
              <div class="client-img">
                <img
                  src="{{m.get_team_img}}"
                  class="img-fluid img-rounded"
                  style="border-radius: 50%"
                />
              </div>
    
              <div class="details">
                <h4 class="text-center">{{ m.get_team_member_name}}</h4>
                <h6 class="text-center">{{ m.get_team_role}}</h6>
                <p class="text-center">
                  {{m.get_profile}}
                </p>
                <!-- <a href="#">Read More</a> -->
              </div>
    
              <div class="social-links">
                <h4 class="text-center">Follow Me</h4>
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        {% endfor %}
      {% endif %}

      
    </div>
  </div>
</div>

{% endblock %}
