{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}
Tracks
{% endblock %}

{% block content %}

  <link rel="stylesheet" href="{% static 'frontend/css/playlist.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
</head>
<body>




  <!-- ========== Tracks  =============-->

  
  <section class="album">
        
      
    <div class="container-fluid mt-5">
      
      <div class="row" >

        {% if track %}
          {% for t in track %}
            <div class="album-col col-lg-3 col-md-6 col-sm-12 col-12" >
              <img src="{{t.get_track_image}}" class="mb-2" >
              <div class="layer ">

                <h3 class = 'hitz mb-3'>{{t.get_track_name}}</h3>
    
                <audio controls class="embed-responsive-item" src="{{t.get_track_audio}}" type="audio/mpeg" ></audio>
              </div>
              <!-- <h6>Download here:</h6> -->
              

            </div>


            
          {% endfor %}
        {% endif %}

      </div>
    </div>





    <!-- <div class="modal fade" id="{{t.get_track_name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{t.get_track_artist}}:{{t.get_track_name}} </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-body">
            
          </div>
          
        </div>
      </div>
    </div> -->
 
  </section>
      
{% endblock %}